:root {
  --white-shade: #ffff;
  --blue-shade-color: #a6f6ff;
  --azure-shade: azure;
}

body {
  background-color: black;
  background-image: url("../image/bg_night.png");
  display: flex;
  justify-content: center;
}

#canvas {
  position: absolute;
  top: 8.3%;
  background-color: black;
  border: 2px solid var(--white-shade);
  box-shadow: 0 0 15px 5px var(--blue-shade-color);
  border-radius: 0.3rem;
}

#start_button {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--white-shade);
  color: var(--white-shade);
  width: 22rem;
  height: 2.2rem;
  box-shadow: 0 0 15px 5px var(--blue-shade-color);
  cursor: pointer;
  font-size: 1.2rem;
}

#start_button:hover {
  background-color: var(--azure-shade);
  color: var(--blue-shade-color);
}
